{{!--

<body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2>¿Por qué debería considerar la instalación de paneles solares en mi casa?
Respuesta: La instalación de paneles solares permite aprovechar la energía solar gratuita y renovable, reduciendo así la dependencia de fuentes de energía no renovables. Además, puede ayudar a reducir los costos de electricidad a largo plazo y contribuir a la protección del medio ambiente.</h2>
    
  </div>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2>¿Cómo determino el consumo energético de mi casa?
Respuesta: Puede determinar el consumo energético de su casa revisando las facturas de electricidad y registrando el consumo mensual en kilovatios-hora (kWh). También puede identificar los electrodomésticos de mayor consumo y sumar sus valores de consumo para obtener una estimación más precisa.</h2>
    
  </div>
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2>¿Qué factores geográficos influyen en la generación de energía solar?
Respuesta: La cantidad de luz solar disponible varía según la región y la orientación de la vivienda. La radiación solar directa y la duración del día son elementos clave para determinar la cantidad de energía solar que se puede capturar.</h2>
    
  </div>
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2>¿Cómo puedo conocer la eficiencia de los paneles solares disponibles en el mercado?
Respuesta: Puede investigar diferentes tipos y tecnologías de paneles solares en el mercado y revisar las especificaciones del fabricante para obtener información sobre su eficiencia de conversión de energía solar en electricidad. Es recomendable consultar con un instalador de paneles solares o experto en energía solar para obtener orientación adicional.</h2>
    
  </div>
</div>
<!-- ./wrapper -->