{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Mi Proyecto <small> RED SOLAR </small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <p>El proyecto consiste en calcular el número de paneles solares necesarios para abastecer de energía a una casa. Para lograrlo, se deben considerar varios factores importantes.

En primer lugar, es fundamental conocer el consumo energético promedio de la casa. Esto se puede determinar revisando las facturas de electricidad y registrando el consumo mensual en kilovatios-hora (kWh). Además, es necesario identificar los electrodomésticos y dispositivos de mayor consumo energético para tener una referencia más precisa.

A continuación, se debe evaluar la ubicación geográfica de la casa. La cantidad de luz solar disponible varía según la región y la orientación de la vivienda. La radiación solar directa y la duración del día son elementos clave para determinar la cantidad de energía solar que se puede capturar.</p>
          <!-- /.col-md-6 -->
          
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

